h1 {
    color: blue;
    text-align: center;
}

h6 {
    color : red;
}

h2 {
    font-weight: bold;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    color: purple;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

th {
    background-color: lightgray;
}

#content {
    color: green;
    font-size: 25px;
}

.name {
    font-weight: bold;
}